RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^home/ index.php [NC,L]
RewriteRule ^category/([0-9a-zA-Z]+)/([0-9a-zA-Z]+) category.php?id=$1&page=$2 [NC,L]
RewriteRule ^category/([0-9a-zA-Z]+) category.php?id=$1 [NC,L]
RewriteRule ^archives/([0-9]+) archives.php?numero=$1 [NC,L]
RewriteRule ^([0-9]+)/([0-9a-zA-Z]+) single.php?id=$1&title=$2 [NC,L]