body{
  padding-top:50px;
}

.navbar-fixed-top{
  border:0;
}

.sidebar{
  position:fixed;
  top:51px;
  bottom:0;
  padding:20px;
  display:block;
  z-index:100;
  background:#F5F5F5;
  overflow-x:hidden;
  overflow-y:auto;
  border:solid 1px #eee;
}

ul.nav.nav-sidebar{
  margin-left:-20px;
  margin-right:-21px;
  margin-bottom:20px;
}

.nav-sidebar a{
  padding-left:20px;
  padding-right:20px;
  font-size:1em;
}

.nav-sidebar i{
  padding-right:15px;
  font-size:1.3em;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:focus, .nav-sidebar > .active > a:hover{
  color:#fff;
  background-color:#428bca;
}

ul.nav.navbar-nav.navbar-right{
  font-size:0.85em;
  font-weight:500;
  text-transform:uppercase;
}

h2.sub-header{
  padding-bottom:10px;
  border-bottom:solid 1px #eee;
}

.main{
  padding:20px;
}

.main .page-header{
  margin-top:0;
  font-size:2em;
  letter-spacing:-3px;
  border:none;
  text-transform:uppercase;
  font-weight:600;
}

a.add_new_btn{
  border:solid 1px #ccc;
  padding:5px 15px;
}

a.add_new_btn.add_mag_btn{
  margin-right:30px;
  margin-left:5px;
}

div.table-responsive{
  margin-top:20px;
}

.sqr_border{
  border-radius:0px;
}

div.table-responsive{
  border:1px solid #eee;
}

div.choice_list{
  background-color:#f5f5f5;
  margin-top:5px;
  position:relative;
  padding:10px 20px;
  margin-bottom:10px;
}

div.choice_list li{
  margin-right:10px;
}

div.media-img{
  background-color:#f5f5f5;
  padding:10px;
  width:24.6%;
  margin-top:10px;
  display:inline-block;
}

div.featured_image p{
  margin:0;
  padding:0;
  width:100%;
}

div.featured_image a{
  padding:10px 30px;
  background-color:#428bca;
  color:white;
}

div.featured_image{
  position:relative;
  width:100%;
  display:block;
  margin-bottom:30px;
}

div.right-sidebar h4{
  border-bottom:solid 1px #eee;
  padding:10px 20px;
  margin:0;
  color:black;
  font-size:1.1em;
  letter-spacing:-1px;
}

div.right-sidebar{
  border:solid 1px #eee;
  margin-bottom:20px;
}

div.right-sidebar .checkbox{
  padding-left:20px;
}

div.checkbox label{
  letter-spacing:-1px;
  color:black;
}

div.featured_image_pop{
  position:fixed;
  width:100%;
  left:0;
  right:0;
  top:100px;
  bottom:50px;
  z-index:200;
  overflow-x:hidden;
  overflow-y:auto;
  background-color:#eee;
  padding:30px 20px;
}

div.media-img a{
  background-color:transparent;
}

div.featured_image_pop h3{
  margin:0;
  padding:0;
}

div.row.images-div{
  height:80%;
  overflow-y:auto;
  margin-bottom:30px;
}

div#featured_image_pop.featured_image_pop{
}

h4.sec_h{
  margin-top:50px;
  font-weight:800;
}

.edit_profile_btn{
  width:100%;
  margin-top:30px;
  text-align:center;
  padding-top:12px;
  padding-bottom:12px;
  background-color:#428bca;
}

p.edit_profile_btn a{
  color:white;
}

.forgot-pass{
  display:none;
}

